<mat-nav-list>
  <a mat-list-item routerLink="/signin" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Sign In</span>
  </a>
  <a mat-list-item routerLink="/admin" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>people</mat-icon>
    <span class="nav-caption">Admin</span>
  </a>
  <a mat-list-item routerLink="/locations" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>place</mat-icon>
    <span class="nav-caption">Locations</span>
  </a>
  <a mat-list-item routerLink="/schedule" (click)="onClose()" *ngIf="isAuth">
    <mat-icon>insert_invitation</mat-icon>
    <span class="nav-caption">Schedule</span>
  </a>
  <mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onLogout()">
      <mat-icon>eject</mat-icon>
      <span class="nav-caption">Logout</span>
    </button>
  </mat-list-item>
</mat-nav-list>
