<section class="login-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <input type="email" matInput placeholder="email" formControlName="email">
      <mat-hint>Please enter a valid email</mat-hint>
      <mat-error>Field must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" matInput placeholder="password" formControlName="password">
      <mat-hint>Please enter your password</mat-hint>
      <mat-error>Missing password</mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="loginForm.invalid">Submit</button>
  </form>
</section>
