<section class="location-card" fxLayoutAlign="center">
  <mat-card fxFlex.gt-xs="450px" fxFlex.xs="100%">
    <mat-card-title>DVFS</mat-card-title>
    <mat-card-subtitle>Delaware Valley Friends School</mat-card-subtitle>
    <mat-card-content>
      <mat-card-actions>
        <button mat-icon-button type="submit" (click)="editLocation" matTooltip="edit location"><mat-icon>edit_mode</mat-icon></button>
        <button mat-icon-button type="submit" (click)="editFields" matTooltip="edit fields"><mat-icon>view_agenda</mat-icon></button>
        <button mat-icon-button type="submit" (click)="holdField" matTooltip="request field"><mat-icon>event</mat-icon></button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</section>
