<section class="signup-form">
  <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <mat-form-field>
      <input type="text"
             matInput
             placeholder="first name"
             ngModel
             name="firstname"
             required
             #fnameInput="ngModel">
      <mat-error *ngIf="fnameInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="text"
             matInput
             placeholder="last name"
             ngModel
             name="lastname"
             required
             #lnameInput="ngModel">
      <mat-error *ngIf="lnameInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="email"
             matInput
             placeholder="email"
             ngModel
             name="email"
             email
             required
             #emailInput="ngModel">
      <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid</mat-error>
      <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty</mat-error>
    </mat-form-field>
    <mat-form-field hintLabel="Should be at least 6 characters long">
      <input type="password"
             matInput
             placeholder="password"
             ngModel
             name="password"
             required
             #pwInput="ngModel"
             minlength="6">
      <mat-hint align="end">{{ pwInput.value?.length }} / 6</mat-hint>
      <mat-error>Password must be at least 6 characters long</mat-error>
    </mat-form-field>
    <!--<mat-form-location>-->
      <!--<input matInput-->
             <!--placeholder="Your birthday"-->
             <!--[matDatepicker]="picker"-->
             <!--[max]="maxDate"-->
             <!--ngModel-->
             <!--name="birthdate"-->
             <!--required>-->
      <!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
      <!--<mat-datepicker #picker></mat-datepicker>-->
    <!--</mat-form-location>-->
    <!--<mat-checkbox ngModel name="agree" required>Agree to Terms and Conditions</mat-checkbox>-->
    <button type="submit" mat-raised-button color="primary" [disabled]="f.invalid">Submit</button>
  </form>
</section>
