<section class="location">
  <form [formGroup]="form" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" (ngSubmit)="save(form)">
    <section class="left-col" fxLayout="column">
      <mat-form-field>
        <input type="text"
               matInput
               placeholder="location name"
               formControlName="name">
        <mat-hint>e.g. Delaware Valley Friends School</mat-hint>
        <mat-error>Field must not be empty</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text"
               matInput
               placeholder="location abbreviation"
               formControlName="abbreviation">
        <mat-hint>e.g. DVFS (optional)</mat-hint>
      </mat-form-field>
      <mat-form-field>
        <input type="text"
               matInput
               placeholder="street address"
               formcontrolname="street">
        <mat-error>Field must not be empty</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text"
               matInput
               placeholder="city"
               formControlName="city">
        <mat-error>Field must not be empty</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text"
               matInput
               placeholder="state"
               formControlName="state">
        <mat-error>Field must not be empty</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text"
               matInput
               placeholder="zip code"
               formControlName="zip">
        <mat-error>Field must not be empty</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="text"
               matInput
               placeholder="map link"
               formControlName="mapLink">
      </mat-form-field>
      <button type="submit" mat-raised-button [disabled]="!form.valid" color="primary">Submit</button>
    </section>
  </form>
</section>
