<mat-tab-group>
  <mat-tab label="Locations">
    <app-location-list></app-location-list>
  </mat-tab>
  <mat-tab label="Add Location">
    <app-add-location></app-add-location>
  </mat-tab>
</mat-tab-group>
