<div class="welcome" fxFlex fxLayout="column" fxLayout.gt-md="row" fxLayoutGap.gt-md="20px" sfxLayoutAlign="center center">
  <section>
    <h1>VIEW</h1>
    <p>Check out what fields are available</p>
  </section>
  <section>
    <h1>REQUEST</h1>
    <p>Request a field for your upcoming game</p>
  </section>
  <section>
    <h1>CONFIRM</h1>
    <p>Confirm your field request and initiate Referree Assignments</p>
  </section>
</div>
