<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div><a routerLink="/">LOGO</a></div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li *ngIf="isAuth"><a routerLink="/admin">Admin</a></li>
      <li *ngIf="isAuth"><a routerLink="/schedule">Schedule</a></li>
      <li *ngIf="isAuth"><a routerLink="/locations">Locations</a></li>
      <li *ngIf="!isAuth"><a routerLink="/signin">Sign In</a></li>
      <li *ngIf="isAuth"><a (click)="logout()">Logout</a></li>
    </ul>
  </div>
</mat-toolbar>
